* {
  color: #f1efef;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(7, 133, 80);
  background: linear-gradient(180deg, #12486b 0%, #419197 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
}
header nav {
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12486b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
header nav .nav-logo {
  margin-left: 20px;
}
header nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
header nav .nav-item a {
  padding: 24px 20px;
}
header nav .nav-item a:hover {
  background-color: #1aacac;
  color: #f1efef;
  border-radius: 12px;
}
header .hero {
  min-height: 100vh;
  width: 100%;
  margin-inline: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero .hero-item {
  flex: 1;
}
header .hero .teks-1 {
  font-size: 40px;
  font-weight: 700;
}
header .hero .teks-1 span {
  background-image: linear-gradient(to right, #1aacac, #79ac78);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  text-align: center;
  font-size: 50px;
}
header .hero .teks-2 {
  font-size: 40px;
  font-weight: 700;
}
header .hero .teks-2 span {
  background-image: linear-gradient(to right, #79ac78, #1aacac);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  text-align: center;
  font-size: 50px;
}
header .hero .img-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .hero .img-container .blob {
  position: absolute;
  width: 120%;
  z-index: -1;
}
header .hero .img-container .profile-picture {
  margin-top: -170px;
  z-index: -1;
}

section#about {
  margin-inline: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}
section#about div {
  flex: 1;
}
section#about .teks {
  text-align: right;
  margin-left: 300px;
}
section#about .teks h1 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}
section#about .teks p {
  line-height: 32px;
  margin-top: 20px;
  font-size: 25px;
}
section#about .teks span {
  background-image: linear-gradient(to right, #79ac78, #1aacac);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
}
section#about .teks .tech-wrapper {
  text-align: left;
  margin: 30px 30px;
}
section#about .teks .tech-wrapper h2 {
  font-size: 28px;
  margin: 28px 0;
  display: block;
}
section#about .teks .tech-wrapper .tech-list {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #2e97a7;
  padding: 12px;
  border-radius: 16px;
}
section#about .image {
  margin-left: 40px;
}
section#about .image img {
  border-radius: 40px;
}

section#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 48px;
  margin-inline: 64px;
  box-sizing: border-box;
}
section#portfolio > p {
  font-size: 32px;
}
section#portfolio > p i {
  margin: 0 10px;
}
section#portfolio .portofolio-wrapper {
  margin-top: 64px;
}
section#portfolio .portofolio-wrapper .porto-card {
  max-width: 700px;
  background: rgb(7, 133, 80);
  background: linear-gradient(180deg, #79ac78 0%, #12486b 100%);
  border-radius: 16px;
  margin-bottom: 60px;
}
section#portfolio .portofolio-wrapper .porto-card img {
  border-radius: 16px 16px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#portfolio .portofolio-wrapper .porto-card > .porto-desc {
  padding: 24px;
}
section#portfolio .portofolio-wrapper .porto-card > .porto-desc .title-link {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
section#portfolio .portofolio-wrapper .porto-card > .porto-desc h3 {
  font-size: 24px;
  margin-bottom: 12px;
  letter-spacing: 1px;
}
section#portfolio .portofolio-wrapper .porto-card > .porto-desc p {
  margin: 20px 0;
}
section#portfolio .portofolio-wrapper .porto-card > .porto-desc .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
section#portfolio .portofolio-wrapper .porto-card > .porto-desc .tech img {
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

section#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 48px;
  box-sizing: border-box;
}
section#blog > p {
  font-size: 36px;
}
section#blog > p i {
  margin: 0 10px;
}
section#blog .blog-wrapper {
  display: flex;
  justify-content: center;
  gap: 96px;
  margin-top: 64px;
  flex-wrap: wrap;
}
section#blog .blog-wrapper > .blog-card {
  color: black;
  background-color: #f1efef;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  max-width: 384px;
}
section#blog .blog-wrapper > .blog-card img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
section#blog .blog-wrapper > .blog-card .title-date-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block: 20px;
}
section#blog .blog-wrapper > .blog-card h3,
section#blog .blog-wrapper > .blog-card p {
  color: #04364a;
}
section#blog .blog-wrapper > .blog-card a {
  color: #f1efef;
}
section#blog .blog-wrapper > .blog-card .blog-btn {
  display: inline-block;
  padding: 10px;
  border-radius: 12px;
  background-color: #79ac78;
}
section#blog .blog-wrapper > .blog-card .blog-btn:hover {
  background-color: #618264;
}/*# sourceMappingURL=styles.css.map */